.box{
    display: grid;
    height: 900px;
    width: 1000px;
    border: 6px solid purple;
    grid-template-columns: repeat(4,4fr);
    grid-template-rows: 200px, 400px, 200px;
    /* grid-template-columns: 50px 50px 50px 50px; */
}


.box1{

    height: 200px;
    width: 150px;
    border: 2px solid palevioletred;
    background-color: blueviolet;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end:3;

}

.box2{

    height: 200px;
    width: 150px;
    border: 2px solid palevioletred;
    background-color: aqua;

}
.box3{

    height: 200px;
    width: 150px;
    border: 2px solid palevioletred;
    background-color: burlywood;

}
.box4{

    height: 200px;
    width: 150px;
    border: 2px solid palevioletred;
    background-color: chocolate;

}